header {
  background-color: #f7f5ef;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: black;
  font-family: 'Roboto';
}

 a {
   text-decoration: none;
 }

nav {
  display: flex;
}

.nav-item a {
  text-decoration: none;
}

.nav-item {
  & + .nav-item {
    margin-left: 2rem;
  }

  &.active {
  }
}
