.user-profile {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  font-family: 'Roboto';
}

.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid grey;
  background-image: url('/static/person.jpg');
  background-size: cover;
  background-position: center;
}

.flex-0 {
  flex: 0
}

.flex-1 {
  flex: 1
}

.profile-details {
  margin-left: 1rem;
  line-height: 1;
}

.profile-name {
  font-weight: bold;
  font-family: 'Roboto';
}

.date {
  color: grey;
  font-size: 11px;
  padding-top: 0.3rem;
}